@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');
body{
    background: linear-gradient(236.85deg, #1b022c 27.26%, #14ac3a 96.03%);
    font-family: 'Open Sans', sans-serif;
}

.dark{
    background: linear-gradient(236.85deg, #383786 27.26%, #6b95a9 96.03%);
}

.Tema{
    position: relative;
    float: right;
    font-size: 24px;
    font-weight: 400;
    padding: 8px 16px;
    background: #edf5ff;
    border-radius: 100px;
    border: 4px solid #58595a;
    box-sizing: border-box;
}

.Tema img{
    max-height: 20px;
}

.Tema_dark{
    background: #19191a;
    color: white;
    border-radius: 100px;
    border: 4px solid #95999e;
    box-sizing: border-box;
}

.Tema_dark img{
    max-height: 24px;
}

.Campo_lista{
    background: linear-gradient(236.85deg, #5e7fb4 27.26%, #47d8a7 96.03%);
    font-size: 24px;
    height: auto;
    width: auto;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0e101159;

}

.Conteiner{
    background: #e4e4e4;
    margin: 72px;
    border-radius: 20px;
    box-shadow: 6px 6px 6px #0e1011;
    color: #292929;
    padding: 48px;
}

.dark .Conteiner{
    background: #333439;
    color: #F6F6F6;
}

.cabecalho{
    display: flex;
    justify-content: space-between;
}

.perfil{
    display: flex;
}

.perfil-imagem{
    border-radius: 400px;
    max-height: 200px;
    box-shadow: 0px 6px 6px rgba(0, 0, 0, 0.25);
}

.titulo{
    margin-left: 30px;
}

.titulo h1{
   font-weight: 700;
   font-size: 38px;
}
.titulo h3{
    font-weight: 400;
    font-size: 24px;
 }

 .projetos{
     display: flex;
     flex-direction: column;
     align-items:flex-start;
     padding: 32px;
     color: #1C1C1C;
     font-weight: 400;
     text-align: center;
 }
 .projetos li{
     margin-left: 40px;
 }

 .projetos iframe{
    margin-left: 40px;
    height:300px;
    width:94%;
 }

 .trabalhos{
    font-size: 36px;
    color: #1C1C1C;
    list-style-type: none;
    margin: 10px;
 }

 .trabalhos a{
    color: #1C1C1C;
    text-decoration: none
 }
 .trabalhos a:hover{
    color: #ffffff;
    text-decoration: none
 }

